<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form action="/update/<%= customer.id %>" method="POST" enctype="multipart/form-data">
          <input
            type="text"
            name="name"
            value="<%= customer.name %>"
            placeholder="Name"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="text"
            name="price"
            value="<%= customer.price %>"
            placeholder="Price"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="text"
            name="stock"
            value="<%= customer.stock %>"
            placeholder="Stock"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="text"
            name="description"
            value="<%= customer.description %>"
            placeholder="Description"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="text"
            name="brand"
            value="<%= customer.brand %>"
            placeholder="Brand"
            class="form-control mb-3"
            autofocus
          />
          <div>
            <span>Current Image:</span>
            <% if (customer.image) { %>
            <img src="<%= customer.image %>" alt="Current Image" width="100">
            <% } %>
          </div>
          <input
            type="file"
            name="image"
            class="form-control-file mb-3"
          />
          <button type="submit" class="btn btn-primary">save product</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
